* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
   
}

body{
    background-color: rgb(181, 228, 247);
}

.navbar-container{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    border: solid skyblue;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
}

.navbar-brand{
    align-items: center;
    text-align: center;
    -webkit-text-stroke: skyblue;
    -webkit-text-stroke-width: 2px;
    font-size: 5rem;
}

.lead{
    color: skyblue;
    font-size: 2rem;
    text-align: center;
}

.main-container{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: solid skyblue;
    width: 40%;
    margin-left: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.search-title{
    padding-left: 10px;
    -webkit-text-stroke: skyblue;
    -webkit-text-stroke-width: 1px;
}

.search-container{
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
}

.search-bar{
    padding: 5px;
    width: 70%;
    border-radius: 5px;
}

.search-button{
    width: 20%;
    background-color: skyblue;
    border-radius: 5px;
}

.search-button:hover{
    background-color: rgb(28, 180, 240);
}

.list-container{
    margin-left: 15px;
    margin-top: 10px;
    width: 90%;
}

.list-group-item{
    background-color: aliceblue;
    -webkit-text-stroke: skyblue;
    -webkit-text-stroke-width: 1px;
    font-size: 20px;
    font-weight: bold;
}

.list-group-item:hover{
    background-color: white;
    cursor: pointer;
}

.clear-button{
    background-color: skyblue;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
}

.search-results{
    border: solid skyblue;
    background-color: aliceblue;
    border-radius: 10px;
    border-width: 5px;
    margin-left: 10px;
    margin-right: 10px;

}

.title-img-container{
    display: flex;
    height: 50%;
}

.body-title{
    -webkit-text-stroke: skyblue;
    -webkit-text-stroke-width: 2px;
    margin-left: 20px;
    vertical-align: bottom;
    padding-top: 10px;
    padding-left: 50px;
}

.body-img{
    width: 15%;
    margin-right: 100px;
}

.body-info{
    margin-left: 50px;
    padding-left: 32px;
    font-size: 25px;
}

.lowUV {
    color: lightgreen;
    margin-left: 50px;
    padding-left: 32px;
    padding-bottom: 10px;
    font-size: 25px;
}

.moderateUV {
    color: rgb(210, 210, 9);
    margin-left: 50px;
    padding-left: 32px;
    padding-bottom: 10px;
    font-size: 25px;
}

.highUV {
    color: orange;
    margin-left: 50px;
    padding-left: 32px;
    padding-bottom: 10px;
    font-size: 25px;
}

.veryhighUV {
    color: red;
    margin-left: 50px;
    padding-left: 32px;
    padding-bottom: 10px;
    font-size: 25px;
}

.extremeUV {
    color: purple;
    margin-left: 50px;
    padding-left: 32px;
    padding-bottom: 10px;
    font-size: 25px;
}

.forcast-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.forcast-card{
    width: 18%;
    border: solid;
    border-radius: 10px;
    padding: 5px;
    background-color: skyblue;
}

.modal-title{
    font-weight: bolder;
    text-align: center;
}

.modal-body{
    text-align: center;
}

.modal-content{
    background-color: aliceblue;
}

.btn-secondary{
    background-color: skyblue;
}

.btn-secondary:hover {
    background-color: rgb(53, 186, 238);
}



